@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(https://img.freepik.com/fotos-premium/fondo-humo-color_71163-196.jpg)
    no-repeat center center/cover;
  font-family: "Peralta", cursive;
  height: 100vh;
}


.title h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 50px 10px;
  text-align: center;

  animation: 2s title 0.5s ease-in-out;
}

@keyframes title {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.horario {
  display: flex;
  margin: 50px 10px;
  color: #fff;
  justify-content: space-around;
}

.fecha {
  animation: 2s fecha 0.5s ease-in-out;
}

@keyframes fecha {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.fecha h2,
.hora h2,
.lugar h2 {
  margin: 5px;
  text-align: center;
  color: #fff;
}

.fecha p,
.hora p,
.lugar p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.hora {
  animation: 2s hora 0.5s ease-in-out;
}

@keyframes hora {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0px);
  }
}

.lugar{
  animation: 2s lugar 0.5s ease-in-out;

}

@keyframes lugar {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

button{
  display: flex;
  margin: 20px auto;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  background: #222;
  animation: 2s button 0.5s ease-in-out;
}

a{
  text-decoration: none;
  color :#fff;
  font-size: 30px;
}

@keyframes button {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}